extends layout

block content
  img(src="/images/logoCristaleria.svg" style="width: 128px")
  h1(style="color: white;") Distribuidora<br/>Cristaleria Popular
  br
  h3(style="color: white;") Crecer juntos es<br/>nuestra mayor satisfacción.
  div(class="grid-x")
  a(class="button material-green rounded r1" href="/admin/sync/" ) Base de Datos
  a(class="button rounded r1" href="/admin/inventario/", style="margin-left: 12px") Inventario
  a(class="button alert rounded r1" href="/admin/pedido/", style="margin-left: 12px;") Pedidos
