extends layout

block content
  img(src="/images/logoCristaleria.svg" style="width: 128px")
  h1(style="color: white;") Distribuidora<br/>Cristaleria Popular
  br
  h3(style="color: white;") Crecer juntos es nuestra<br/>Mayor satisfacción
  div(class="grid-x")
  a(class="button material-green rounded r1" href="/admin/sync/" style="margin-right: 12px") Sincronizar
  a(class="button rounded r1" href="/admin/inventario/") Inventario
