extends layout

block content
  h1= title
  p Welcome to #{title}

  //form
  input(type='text', id='Url', placeholder='Url (url)')
  textarea(id='Data', placeholder='Data (Json)')

  a(class="button", id="btnProbar") Send

  //viewer
  div(id='tablero', data-toggler, data-animate="fade-in fade-out", class="callout secondary")

  script(src="js/cristaleria.index.js")
