extends layout

block content
  h1= title
  p Welcome to #{title}

  //form
  select(id="Method", class="placeholder")
    option(value="", class="placeholder") Método
    option(value="Select", style="color: black") Select
    option(value="Insert", style="color: black") Insert
    option(value="Update", style="color: black") Update
    option(value="Delete", style="color: black") Delete

  div(id="ListaProductos")
    div(class="grid-x")
      div(class="large-1 cell")
        input(type='text', id='Codigo', placeholder='Código (string)')
      div(class="large-8 cell")
        input(type='text', id='Nombre', placeholder='Nombre (string)')
      div(class="large-1 cell")
        input(type='text', id='DescuentoProveedor', placeholder='Descuento Proveedor (string)')
      div(class="large-1 cell")
        input(type='text', id='PrecioUnitario', placeholder='Precio Unitario (double)')
      div(class="large-1 cell")
        input(type='text', id='Iva', placeholder='Iva (double)')

  a(class="button", id="btnProbar") Send

  //viewer
  div(id='tablero', data-toggler, data-animate="fade-in fade-out", class="callout secondary")

  script(src="/js/cristaleria.producto.js")
